body {
	background: #FAFBF8;
}

h3 {
	box-shadow: 0px 2px #6d768c;
	padding-bottom: 5px;
}

h3.aboutTitle {
	box-shadow: 0px 2px #ffffff;
	text-align: center;
	margin-top: 5px;
}

#header-row {
	background: #6D768C;
	/*background: #E5E3E8;*/
}

#header-col {
	padding: 10px 0;
	color: white;
	font-size: 50px;
	font-weight: bold;
}

#my-photo {
	display: block;
	margin: auto;
	padding-top: 10px;
}

#aboutMe {
	margin-top: 50px;
	padding: 0 20px 230px 20px;
	/*background: #FAEDEE;*/
	background: #e6e9f2;
}

#timeline {
	padding: 0 18px 0 0;
}


